body {
  background: #ffeee5;
  padding-top: 60px;
  font-size: 14px;
  color: #444444;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }


.panel-default .panel-heading {
  background: #d4a992;
  border-bottom: 1px solid #e9ecf2;
  color: white; }

.breadcrumb {
  border-radius: 0;
  padding: 10px 15px 10px 15px;
  background: #ffcdb3;
  margin: 0; }

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active, .sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover, .sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
  color: #fff;
  background-color: #e97426; }

  .navbar-header {
    width: 100%; } 
.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
  text-decoration: none;
  background-color: #ff7600;
  color: #fff; }
